/*Variáveis de cores*/
:root {    
    --redPaleta:#E83638;
    --preto: black;
    --sombraContent: rgba(0, 0, 0, 0.25);
    --sombraButtonEfect: rgba(0, 0, 0, 0.2);    
    --branco: #fff;
    --brancoPaleta:#e6e4e4;    
}

/* Estilo para a nova seção #galery */
#galery {
    /*border: 2px solid green;*/
    position: relative;
    width: 100%;
    height: 100vh;    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;    
}

/* Garantindo que a .container ocupe o espaço total */
#galery .container {
    /*border: 2px solid red;*/
    width: 100%;
    height: 99%;
    padding: 0;
}

/*myCarousel*/
.myCarousel {
    /*border: 3px solid brown;*/
    border-radius: 15px;
    box-shadow: 2px 2px 5px var(--preto);
    width: 100%;
    height: 100%;
    overflow: hidden;   
}

.myCarousel .list .item {
    position: absolute;
    inset: 0;
}

.myCarousel .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.myCarousel .list .item .content {
    position: absolute;
    top: 5%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 10%;
    box-sizing: border-box;
    color: var(--branco);    
    text-shadow: 0 5px 10px var(--sombraContent);
}



.myCarousel .list .item .content .title {
    font-weight: bold;
    font-size: 3em;
    font-style: 1.3em;
}

/*.myCarousel .list .item .content .title,*/
.myCarousel .list .item .content .topic {
    font-weight: bold;
    font-size: 5em;
    font-style: 1.3em;
}

.myCarousel .list .item .content .topic {
    color:var(--redPaleta);
}

.myCarousel .list .item .author {
    font-weight: bold;
    letter-spacing: 10px;
}

.myCarousel .list .item .content .title,
.myCarousel .list .item .content .topic,
.myCarousel .list .item .content .author {
    text-shadow: 2px 2px 2px var(--preto);
}

.myCarousel .list .item .content .buttons {
    /*border:2px solid red;*/    
    display: flex;    
    justify-content: start;
    align-items: center;
    margin-top: 20px;
}

.myCarousel .list .item .content button {
    background-color: transparent;
    border: none;
}

.myCarousel .list .item .content .btn-contact {
    display: inline-block;
    /*border: 2px solid transparent;*/
    border-radius: 5px;
    background-color: var(--redPaleta);
    letter-spacing: 3px;
    text-decoration: none;
    font-family: Poppins;   
    font-weight: 600;
    padding: 5px;    
    color:var(--branco);
    transition: all 0.3s ease;
}

.myCarousel .list .item .content .buttons .btn-contact:hover {
    background-color: var(--branco);    
    color:var(--redPaleta);    
    border-color:var(--redPaleta);    
    box-shadow: 0 0 10px var(--sombraButtonEfect);    
}


/*thumbnail*/
.thumbnail {
    /*border: 2px solid red;*/
    position: absolute;
    bottom: 55px;    
    left: 63%;
    width: max-content;
    display: flex;
    gap: 10px;
    z-index: 10;
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.thumbnail .item .content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.thumbnail .item:hover {
    transform: scale(1.1);
}



/*  arrows*/
.arrows {
    /*border: 3px solid blue;*/
    position: absolute;
    top: 80%;
    right: 52%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}


.arrows button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    font-family: monospace;
    color:var(--branco);
    font-weight: bold;
    font-size: large;
    cursor: pointer;    
    z-index: 100;
}

.arrows button:hover {
    background-color: #eee;
    color: #555;
    transition: none !important;
}

.myCarousel .list .item:nth-child(1) {
    z-index: 1;
}


.myCarousel .list .item:nth-child(1) .author,
.myCarousel .list .item:nth-child(1) .title,
.myCarousel .list .item:nth-child(1) .topic,
.myCarousel .list .item:nth-child(1) .des,
.myCarousel .list .item:nth-child(1) .buttons {
    transform: translateY();
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.myCarousel .list .item:nth-child(1) .title {
    animation-delay: 1.2s;
}

.myCarousel .list .item:nth-child(1) .topic {
    animation-delay: 1.4s;
}

.myCarousel .list .item:nth-child(1) .des {
    animation-delay: 1.6s;
}

myCarousel .list .item:nth-child(1) .buttons {
    animation-delay: 1.8s;
}

/*effect next click*/
.myCarousel.next .list .item:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 20px;
    animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage {
    to {
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}

.myCarousel.next .thumbnail .item:nth-last-child(1) {
    width: 0;
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}

@keyframes showThumbnail {
    to {
        width: 150px;
    }
}

.myCarousel.next .thumbnail {
    transform: translateX(150px);
    animation: transformThumbnail .5s linear 1 forwards;
}

@keyframes transformThumbnail {
    to {
        transform: translateX(0);
    }
}

/*effect prev click*/
.myCarousel.prev .list .item {
    z-index: 2;
}

.myCarousel.prev .list .item:nth-child(2) img {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outImage 0.5s linear 1 forwards;
}

@keyframes outImage {
    to {
        width: 150px;
        height: 220px;
        border-radius: 20px;
        left: 50%;
        bottom: 50px;
    }
}

.myCarousel.prev .thumbnail .item:nth-child(1) {
    width: 0;
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail 0.5s linear 1 forwards;
}

.myCarousel.prev .list .item:nth-child(2) .author,
.myCarousel.prev .list .item:nth-child(2) .title,
.myCarousel.prev .list .item:nth-child(2) .topic,
.myCarousel.prev .list .item:nth-child(2) .des,
.myCarousel.prev .list .item:nth-child(2) .buttons {
    animation: contentOut 1.5s linear 1 forwards;
}

@keyframes contentOut {
    to {
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

.myCarousel.next .arrows button,
.myCarousel.prev .arrows button {
    pointer-events: none;
}

/*time*/
.time {
    width: 0;
    height: 5px;
    background-color: #f1683a;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}

.myCarousel.next .time,
.myCarousel.prev .time {
    width: 100%;
    animation: timeRunning 2s linear 1 forwards;
}

@keyframes timeRunning {
    to {
        width: 0;
    }
}



.sectionContact{
    color:var(--redPaleta);
}

/*-----------------------------------------------------------------*/
/*Responsividade*/
/*Devices abaixo de 992px de largura até 577px*/
@media screen and (max-width: 992px) {
    .myCarousel .lis .item .content {
        padding-right: 0;

    }

    .myCarousel .list .item .content .title {
        font-size: 1.2em;
    }

    .myCarousel .list .item .content .topic {
        font-size: 2.28em;
        
    }


    .thumbnail {
        bottom: 18vh;
        left: 38vw;
        width: 59vw;
        overflow:hidden;
        gap: 5px;
    }

    .thumbnail .item {
        width: 32.5%;
    }


    .arrows {
        top: 68vh;
        right: 67vw;
        /*width: 300px;*/
        max-width: 20%;
        gap: 20px;

    }
}


/*Responsividade*/
@media screen and (max-width: 576px) {

    .thumbnail {
        left: 45vw;
        bottom: 20vh;
        width: 50%;
        padding: 5px;
        gap: 6px;
        overflow: hidden;
    }

    /* Ajuste das miniaturas (.item) dentro da .thumbnail */
    .thumbnail .item {
        width: 50%;
    }
    

    .arrows {
        top: 65vh;
        right: 66vw;
        /*width: 300px;*/
        max-width: 29%;
        gap: 20px;

    }
}


@media screen and (max-width: 320px) {

    .myCarousel .lis .item .content {
        padding-right: 0;

    }

    .myCarousel .list .item .content .title {
        font-size: 0.9em;
    }

    .myCarousel .list .item .content .topic {
        font-size: 1.71em;
        
    }

    .myCarousel .list .item .content .author {
        font-size:0.8em;
    }

    .buttons button{
        display:none;
    }


    .thumbnail {
        left: 45vw;
        bottom: 30vh;
        width: 50%;
        padding: 5px;
        gap: 6px;
        overflow: hidden;
    }

    /* Ajuste das miniaturas (.item) dentro da .thumbnail */
    .thumbnail .item {
        width: 50%; 
        height:30vh;       
    }
    

    .arrows {
        top: 50vh;
        right: 66vw;       
        max-width: 29%;
        gap: 20px;

    }

}